.card:hover img {
 transform: scale(1.2, 1.2);
 transition-duration: 500ms;
 transition-timing-function: ease-out;
 opacity: 0.7;
}

.card img {
 transform: scale(1.0, 1.0);
 transition-duration: 500ms;
 transition-timing-function: ease-out;
 object-fit:fill;
 
}
.card{
 width:120%;
 height:150%;
 /* *new */
 /* justify-content: space-around; */
 /* justify-items: stretch; */

}

.card-img-wrapper {
 overflow: hidden;
 position: relative;
}
.member-icons {
 position: absolute;
 bottom: -30%;
 left: 0;
 right: 0;
 margin-left: auto;
 margin-right: auto;
 opacity: 0;
}

.card-img-wrapper:hover .member-icons {
 bottom: 0;
 opacity: 1;
}

.animate {
 transition: all 0.3s ease-in-out;
}

@keyframes fa-blink {
 0% {opacity: 1;}
 100% {opacity: 0.4;}
}

.is-online {
 animation: fa-blink 1.5s linear infinite;
 color: rgb(1, 189, 42);
}

.content{
  /* margin: 25px 20px 25px 75px; */
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
  align-items:center;
  /* text-align: center; */
  /* object-position: center; */


}

.myicon{
  font-size: 15px;
  /* display: inline-block; */
  display: inline-flex;
  color:rgb(113, 132, 236);
}

.mytxt1{
  font-size:18px;
  font-weight: bold;
  text-transform: capitalize;
  margin-left: 15px;
  /* border:solid black 1px; */
}
.mytxt2{
  font-size:18px;
  font-weight: bold;
  text-transform: capitalize;
  /* border:solid black 1px; */
  margin-left:25px;
  
  /* margin: -5px; */
  /* justify-content: center; */
  /* position: relative; */
}

#parent { white-space: nowrap; }
.child { display: inline-block; }


.myimg{
  border-radius: 15px;
}

.card-body{
  margin-top: 2rem;
  /* padding-top:2rem; */
}