.paginationposition{
position: absolute;
bottom: 0;
justify-content: center;
/* flex:auto; */
align-items:center;
text-align: center;
/* top: 0; */
left:0; 
right:0;
object-position: center;
margin-top: 0;
}


/* ! new */
/* nav {
 display: flex;
 justify-content: center;
}
     
.pagination {
 list-style: none;
 margin: 0;
 padding: 0;
 display: flex;
}
     
.pagination li {
 margin: 0 1px;
} */


/* ! new 2 */



nav {
 /* display: inline-block; */
 justify-content: center;
 border-top: 1px solid #042a63;
 margin-top: 1em;
 padding-top: .5em;
 
position: absolute;
bottom: 0;
align-items:center;
text-align: center;
left:0; 
right:0;
object-position: center;
}

.pagination {
 list-style: none;
 margin: 0;
 padding: 0;
 display: inline-block;
}

/* .pagination a[aria-current="page"] {
 background-color: #333;
 color: #fff;
} */


