/* .form-group{
 position: relative;
 width:500px ;
} 

.form-group input{
border: 1px solid rgb(12, 12, 12);
padding: 0 15px;
border-radius: 5px;
font-size:15px;
width: 100%;
} */

.eyeicon {
 position: absolute;
 cursor: pointer;
 background-color: transparent;
}
/* .eyicon{
 float:right;
 margin-right: 6px;
 position: relative;
} */
/* .fa{
 margin-right: 10px;
} */
.myform{
 position:relative;
 width:400px;
 border: 2px solid black;
 padding:2px;
 margin: 1px;

}