<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <div class="nav-header">
      <a class="navbar-brand" href="#">Chating App</a>
    </div>
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">Home</a>
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
        </li>
      </ng-container>
    </ul>
    <div class="dropdown mynavbar" *ngIf="(accountService.currentUser$ | async) as User" dropdown>
      <a class="dropdown-toggle text-light mynavbar" dropdownToggle><strong>{{User.username | titlecase}}</strong></a>
      <div class="dropdown-menu mt-3" *bsDropdownMenu="">
        <a class="dropdown-item mynavbar">Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>
    <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm"
      class="form-inline mt-2 mt-md-0 d-flex" (ngSubmit)="login()" autocomplete="off">
      <input name="username" [(ngModel)]="model.username" class="form-control me-2" type="text" placeholder="Username">
      <input [type]="changetype?'password':'text'" name="password" [(ngModel)]="model.password"
        class="form-control me-2" type="password" placeholder="Password">
      <div class="input-group-append">
        <span class="input-group-text eyeicon" (click)="viewpass()"><i
            [ngClass]="visible?'fa fa-eye-slash':'fa fa-eye'"></i></span>
      </div>
      <button class="btn btn-success" type="submit">login</button>
    </form>
  </div>
</nav>