/* .mybuttongroup{
 text-align: center;
 position:fixed;

}
.col-centered{
 float: none;
 margin: 0 auto;
}
.mybutton{
 color:black;
 position:relative;
 padding: 10px;
 border:5px;
 text-align: center;
 margin:13px 12px 12px 10px;
}
.ml-1 {
 margin-left: (spacer * .25) !important;
}

 */
 .mytext{
  position:absolute;
  padding-left: 5px;
  padding-top: 30px;
  text-decoration: dotted;
  white-space: 5px;
  font-weight: bold;
 }

 .mybutton{

  margin: 50px 10px 0px 10px;
  
  
  text-align: center;
 
 }
